<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500324408153-5v0d6fq3g9v29p1u4u1fdormtripbhmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500324408153-5v0d6fq3g9v29p1u4u1fdormtripbhmn</string>
	<key>API_KEY</key>
	<string>AIzaSyDkflrAm9PC8Tt3Ur9_N91fVYTIoVpbLiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>500324408153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stellabarros.clubedeferias</string>
	<key>PROJECT_ID</key>
	<string>clube-de-ferias-b3f24</string>
	<key>STORAGE_BUCKET</key>
	<string>clube-de-ferias-b3f24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500324408153:ios:32b6cf1bd5af31ff3eca48</string>
</dict>
</plist>